.home{
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home_text-wrapper{
    display: flex;
    justify-content: center;
}
.home_text-wrapper h1{
    color: var(--mainColor);
    margin: 0px;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    animation: typingEffectAnimation 2.5s steps(30,end);
}
.home_contact-btn{
    display: flex;
    justify-content: center;
}
.home_contact-btn button{
    cursor: pointer;
    padding: 10px 50px;
    margin-top: 10px;
    font-size: 1.2rem;
    background: transparent;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 4px;
    font-weight: 500;
}
.home_contact-btn button:hover{
    background-color: var(--mainColor);
    color: var(--blackClr);
}

/* Media Query */
@media only screen and (max-width : 550px) {
    .home_text-wrapper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width : 551px) and (max-width: 768px) {
    .home_text-wrapper h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width : 769px) and (max-width : 990px){
    .home_text-wrapper h1{
        font-size: 5rem;
        line-height: 7rem;
    }
}

@keyframes typingEffectAnimation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}