.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed var(--mainColor);
}

.wrapper h2{
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1rem;
    text-transform: capitalize;
    color: var(--mainColor);
    display: flex;
    flex-grow: 1;
}

.wrapper span{
    color: var(--mainColor);
}